version: "3.9"

services:

  frontend:
    build: ./frontend
    container_name: chat_frontend
    ports:
      - "8080:80"
    networks:
      - chatnet

  backend:
    build: ./backend
    container_name: chat_backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/cert:/app/cert
    networks:
      - chatnet

networks:
  chatnet:
    driver: bridge